# env
.env
.venv/

# python
__pycache__/
*.pyc

# databases
*.sqlite3

# vector db
data/chroma_db/

data/*
!data/news.db

# models
*.bin
*.pt

# outputs
outputs/*
!outputs/run_summary.json

# DO_NOT_UPLOAD
DO_NOT_UPLOAD/*